 <div id="<%= dom_id gp %>" class="grid grid-cols-2 gap-8">
  <div>
    <p class="py-4">
      <strong class="block font-medium mb-1 text-2xl ">Container no:</strong>
      <%= gp.container_no %>
    </p>

    <p class="py-4">
      <strong class="block font-medium mb-1 text-2xl ">Weight:</strong>
      <%= gp.weight %>
    </p>

    <p class="py-4">
      <strong class="block font-medium mb-1 text-2xl ">Vehicle reg:</strong>
      <%= gp.vehicle_reg %>
    </p>

    <p class="py-4">
      <strong class="block font-medium mb-1 text-2xl ">Hauller:</strong>
      <%= gp.hauller %>
    </p>

    <p class="py-4">
      <strong class="block font-medium mb-1 text-2xl ">Is approved:</strong>
      <%= gp.is_approved %>
    </p>

    <p class="py-4">
      <strong class="block font-medium mb-1 text-2xl ">Customer:</strong>
      <%= gp.customer %>
    </p>
  </div>

  <div>
    <p class="py-4">
      <strong class="block font-medium mb-1 text-2xl ">Date in:</strong>
      <%= gp.date_in %>
    </p>

    <p class="py-4">
      <strong class="block font-medium mb-1 text-2xl ">Date out:</strong>
      <%= gp.date_out %>
    </p>

    <p class="py-4">
      <strong class="block font-medium mb-1 text-2xl ">Line:</strong>
      <%= gp.line %>
    </p>

    <p class="py-4">
      <strong class="block font-medium mb-1 text-2xl ">Size:</strong>
      <%= gp.size %>
    </p>

    <p class="py-4">
      <strong class="block font-medium mb-1 text-2xl ">Depot:</strong>
      <%= gp.depot %>
    </p>

    <p class="py-4">
      <strong class="block font-medium mb-1 text-2xl ">Sheet:</strong>
      <%= gp.sheet %>
    </p>
  </div>
</div>
