<div class="py-16">
    <h2 class="text-center text-4xl font-bold">
    <%= @gp.container_no %> Details page
  </h2>
<div class="mx-auto md:w-2/3 w-full flex">

  <div class="mx-auto">
    <div class="grid grid-cols-2 gap-8">
      <div>
        <p class="py-4">
          <strong class="block font-medium mb-1 text-2xl ">Container no:</strong>
          <%= @gp.container_no %>
        </p>

        <p class="py-4">
          <strong class="block font-medium mb-1 text-2xl ">Weight:</strong>
          <%= @gp.weight %>
        </p>

        <p class="py-4">
          <strong class="block font-medium mb-1 text-2xl ">Vehicle reg:</strong>
          <%= @gp.vehicle_reg %>
        </p>

        <p class="py-4">
          <strong class="block font-medium mb-1 text-2xl ">Hauler:</strong>
          <%= @gp.hauller %>
        </p>

        <p class="py-4">
          <strong class="block font-medium mb-1 text-2xl ">Approved?:</strong>
          <%= @gp.is_approved %>
        </p>

        <p class="py-4">
          <strong class="block font-medium mb-1 text-2xl ">Customer:</strong>
          <%= @gp.customer %>
        </p>
      </div>

      <div>
        <p class="py-4">
          <strong class="block font-medium mb-1 text-2xl ">Date in:</strong>
          <%= @gp.date_in.strftime("%B %e, %Y, %l:%M%P") %>
        </p>

        <p class="py-4">
          <strong class="block font-medium mb-1 text-2xl ">Date out:</strong>

          <% if @gp.date_out.nil? %>
            <span class="text-red-500">Not yet out</span>
          <% else %>

          <%= @gp.date_out.strftime("%B %e, %Y, %l:%M%P") %>
          <% end %>
        </p>

        <p class="py-4">
          <strong class="block font-medium mb-1 text-2xl ">Line:</strong>
          <%= @gp.line %>
        </p>

        <p class="py-4">
          <strong class="block font-medium mb-1 text-2xl ">Size:</strong>
          <%= @gp.size %>
        </p>

        <p class="py-4">
          <strong class="block font-medium mb-1 text-2xl ">Depot:</strong>
          <%= @gp.depot %>
        </p>

        <p class="py-4">
          <strong class="block font-medium mb-1 text-2xl ">Sheet:</strong>
          <%= @gp.sheet %>
        </p>
      </div>
    </div>

  </div>
</div>

</div>