 <div class="flex flex-col mt-6">
      <div class="overflow-x-auto rounded-lg">
        <div class="inline-block min-w-full align-middle">
          <div class="overflow-hidden shadow sm:rounded-lg">
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-600">
              <thead class="bg-gray-50 dark:bg-gray-700">
                <tr>
                  <th scope="col"
                    class="text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                    #
                  </th>
                  <th scope="col"
                    class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                    Name
                  </th>
                  <th scope="col"
                    class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                    Email
                  </th>
                  <th scope="col"
                    class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                    Address
                  </th>
                  <th scope="col"
                    class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                    Gender
                  </th>
                  <th scope="col"
                    class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">
                    Role
                  </th>
                  <th scope="col"
                    class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase dark:text-white">

                  </th>
                </tr>
              </thead>
              <tbody class="bg-white dark:bg-gray-800">
                <% users.each_with_index do |user, index| %>

                <tr>
                  <td class="text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">

                    <%= index + 1 %>
                  </td>
                  <td class="p-4 text-sm font-normal text-gray-900 whitespace-nowrap dark:text-white">
                    <span class="font-semibold"><%= user.first_name %> <%= user.last_name %></span>
                  </td>
                  <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                    <%= user.email %>
                  </td>
                  <td class="p-4 text-sm font-semibold text-gray-900 whitespace-nowrap dark:text-white">
                    <% if user.address.nil? %>
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                      Not provided
                    </span>
                    <% else %>
                    <%= user.address %>
                    <% end %>
                  </td>
                  <td class="p-4 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                    <% if user.gender.nil? %>
                    <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-red-100 text-red-800">
                      Not provided
                    </span>
                    <% else %>
                    <%= user.gender %>
                    <% end %>
                  </td>
                  <td
                    class="inline-flex items-center p-4 space-x-2 text-sm font-normal text-gray-500 whitespace-nowrap dark:text-gray-400">
                    <%= user.role.upcase() %>
                  </td>
                  <td class="p-4 whitespace-nowrap">
                    <span
                      class=" text-green-800 text-xs font-medium  p-2.5 ">
                      <%= link_to edit_user_path(user), class: "inline-flex items-center space-x-2 text-blue-600 hover:text-blue-800" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                          d="M15.293 4.293a1 1 0 0 1 1.414 0l.586.586a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.22-1.22l1-3a1 1 0 0 1 .242-.39l9-9zM14 5l1 1L5 15H4v-1L14 5zm2-2l1 1a1 1 0 0 1 0 1.414l-.586.586a1 1 0 0 1-1.414 0l-1-1L16 3z"
                          clip-rule="evenodd" />
                      </svg>
                      <span class="font-medium">Edit_Role</span>
                      <% end %>
                    </span>
                  </td>
                  <% end %>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>